*{
    font-family: montserrat;
}
.container{

    padding: 0 ;
    margin: 0;
    border: none;
    height: 100px;
    text-decoration: none;
    width:auto;
    background-color:#232b2bf5;
    
    

}

.logo{
    
    height: 55px;
    width: 55px;
    margin-left: 30px;
    margin-top: 20px;
    
}

.menu,ul{
   
    font-size: large;
    text-transform: uppercase;
    margin-right: 300px;
    margin-left: 450px;
}

.menu,ul,li{
    
    display: inline-block;
    line-height: 80px;
    margin:0 7px ;
    font-family:Arial, Helvetica, sans-serif;

}
*{

    text-decoration: none;
    
    
}
*{
    color:#FF652F;
    font-family: montserrat;

}
.menu{
    cursor: pointer;
}
a:hover{

    color: aliceblue;
}

body{

    background-image: url(bgblack.png);
    background-attachment:fixed;
    background-size: cover;
    font-family: montserrat;

    
}

.login{

 
    height:400px;
    width:320px;
    border-radius: 7px;
    float:right;
    padding: 0;
    margin:80px;

}
.login{

    background-color: #232b2bca;
    text-align: center;
    
    
}


.search{

    margin-bottom: 20px;
    height:40px;
    border-radius: 3px;
    border: none;
    font-size:2rem;
    background-color: #313a3a;
    color:#FF652F;

    


};

button{

    background-color: #FF652F;
}

button:hover{
    background-color:#f15129;
}

button{

    background-color: #FF652F;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom:3px;
    padding-left: 5px;
    padding-right: 5px;
   
   
}
button{
    height:43px;
    width:80px;
    border-radius: 4px;
}

.searchbtn{
    float:right;
    margin-top: 14px;

}

.sea{
    height:40px;
    border-radius: 3px;
    border: none;
    font-size:1rem;
    background-color: #313a3a;
    color:#FF652F;


}

.sublogin{

    font-size: medium;
}

.signlnk{

    text-decoration: dashed;
    color: aliceblue;
}

.signlnk:hover{

    color:rgb(58, 146, 240);
}



h3{
    font-weight: bold;
    font-size: xx-large;
}
.sublogin{
    align-items: center;
    font-size: large;
}

.logbtn{

    background-color: transparent;
    border-color:#ff662ff1;
    height:40px;
    width:80px;
    font-size: large;
    border-radius: 3px;
    transition:  0.4s;
}

.logbtn:hover{

    color: #1e2323;
    opacity:0.8;
    background-color: #ff662fba;
    font-weight: bold;

}

p{

    margin-top: 150px;
    justify-items: center;
}

h1{
    margin-top: -45px;
    font-size: 60px;
}
h4{
    font-size: 40px;
    color:aliceblue;
}

.subtxt{
    margin-top: -25px;
    font-size: 20px;
    color:aliceblue;
}

.aboutus{


    margin-bottom: auto;
    height:300px;
    width: auto;
    background-color: #FF652F;
}
.aboutus{
    margin-top: 300px;
}

.explore{

    height: 50px;
    width: 120px;
    margin-left: 30px;
    background-color:#FF652F;
    font-size: large;
    color: #1e2323;
    border-radius: 10px;
    transition: 0.15s;
}

.explore:hover{
    background-color: #f98256;
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.356);


}


